# See https://man.openbsd.org/sshd_config for details on these and other parameters and their defaults.

AllowTcpForwarding      no
# Allow remote access for a non-root user using a password if authorized keys are not set.
PasswordAuthentication  yes
PermitRootLogin         no

Subsystem   sftp    internal-sftp
